*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
el-get
semanticdb
url
ede-projects.el
.DS_Store
places
.smex-items
smex-items
savefile/
/prelude-modules.el
projectile-bookmarks.eld
projectile.cache
session*
.cask
ac-comphist.dat
tramp
.mc-lists.el
bookmarks
.cache

config.el

secret.el